<!-- start custom comments snippet -->
<head>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
</head>
<body>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'Zu3mzXnGE4ll08R6ze337Xsp-9Nh9j0Va',
            appKey: '0gn7dek94lHX87iv0nVZAnos',
            avatar: 'monsterid',
            visitor: true,
            recordIP: true,
            placeholder: "来都来了，写点什么吧~"
        })
    </script>
</body>
<!-- end custom comments snippet -->
